section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.fixed-header
{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}
.filler {
  flex: 1 1 auto;
}
.gap {
  margin-right: 50px;
  padding: 10px;
}
.gap:hover
{
  /* background-color: "accent"; */
  opacity: 80%;
  background-color: #313981;
  
}

.log
{
margin-left: 10px;
}
.log:hover
{
  opacity: 80%;
}